@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Malgun Gothic", "Lucida Grande", Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
}
a:link, a:visited {
    color: #666;
    text-decoration: none;
}
a:active, a:hover {
    color: #000;
    text-decoration: none;
}
a img, input.type-image {
    border: 0 none;
}
input, select, textarea {
    color: #333;
}
input.type-text, textarea {
    border: 1px solid #ddd;
    background: #fff;
    padding: 1px;
}
select {
    font-size: 11px;
    font-family: Dotum, "돋움", sans-serif;
}
span.button, img.button, a.button {
    cursor: pointer;
    vertical-align: middle;
}